@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-gradient {
        @apply [&::selection]:text-base-content relative col-start-1 row-start-1 bg-[linear-gradient(90deg,hsl(var(--s))_0%,hsl(var(--sf))_9%,hsl(var(--pf))_42%,hsl(var(--p))_47%,hsl(var(--a))_100%)] bg-clip-text [-webkit-text-fill-color:transparent] [&::selection]:bg-blue-700/20 [@supports(color:oklch(0_0_0))]:bg-[linear-gradient(90deg,hsl(var(--s))_4%,color-mix(in_oklch,hsl(var(--sf)),hsl(var(--pf)))_22%,hsl(var(--p))_45%,color-mix(in_oklch,hsl(var(--p)),hsl(var(--a)))_67%,hsl(var(--a))_100.2%)];
    }
}

.img-shadow::after {
    position: fixed;
    content: "";
    background-image: linear-gradient(
        180deg,
        rgba(24, 133, 69, 0) 20.77%,
        hsl(var(--b3, var(--b2)) / var(--tw-bg-opacity)) 100%
    );
    top: 0;
    left: 80px;
    bottom: 0;
    right: 0;
}
.img-shadow2::after {
    --tw-bg-opacity: 1;
    position: absolute;
    content: "";
    background-image: linear-gradient(
        180deg,
        rgba(24, 133, 69, 0) 30.77%,
        hsl(var(--b1) / var(--tw-bg-opacity)) 100%
    );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
